:root{
    --sectionMenuLeft: #F6F7FC;
    --sectionConteinerRight: #FFFFFF;
    --fontCash:'Tomorrow', sans-serif;
}
@mixin font($weight,$size,$color) {
    font-style: normal;
    font-weight: $weight;
    font-size: $size;
    color: $color;
}
@mixin navBar($bg,$imgSize) {
    display: flex;
    width: 262px;
    & div:first-of-type{
        width: 53px;
        height: 53px;
        border-radius: 50%;
        background-color: $bg;
        margin-right: 17px;
        display: flex;
        justify-content: center;
        & img{
            width: $imgSize;
            height: $imgSize;
        } 
    }
    & a{
        @include font(500,17px,#000000);
        align-self: center;
        text-decoration: none;
        opacity: 0.5;
    }
    & div:last-of-type{
        margin-left: auto;
        width: 53px;
        height: 53px;
        background: #FEFEFF;
        opacity: 0.4;
        box-shadow: 0px 100px 80px rgba(41, 72, 152, 0.05), 0px 64.8148px 46.8519px rgba(41, 72, 152, 0.037963), 0px 38.5185px 25.4815px rgba(41, 72, 152, 0.0303704), 0px 20px 13px rgba(41, 72, 152, 0.025), 0px 8.14815px 6.51852px rgba(41, 72, 152, 0.0196296), 0px 1.85185px 3.14815px rgba(41, 72, 152, 0.012037);
        border-radius: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
        
    }
}

@mixin totals($bgc, $color) {
    
    display: flex;
    padding: 23px 23px 20px 0;
    width: 264px;
    & > div{
        width: 57px;
        height: 57px;
        background-color: $bgc;
        border-radius: 10px;
        margin-right: 23px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            vertical-align: middle;
        }
        
    }
    
    & p span:nth-of-type(1){
        @include font(400, 13px, #6F767E);
    }
    & p span:nth-of-type(2){
        @include font(500, 22px, #00000E);
        font-family: var(--fontCash);
        
    }
}