@media screen and (max-width: 1460px) {
    .sectionConteiner{
        margin: 0 auto;
        width: 100%;
        nav {
            margin: 0 auto 20px ;
        }
        .totalsCots {
            justify-content: center;
        }
         .recentActivity table {
            margin: 0 auto;
        }
    }
    .sectionLeft{
        display: none;
    }
    main{
        justify-content: center;
        grid-template-columns:108px  59% 31%;
        grid-template-areas: 
        "menu  header header"
        "menu  content right"
        ;
    }
}
@media screen and (max-width: 1130px) {
    .sectionMenu{
        padding: 0 35px;
        width: 100%;
        height: 90px;
        display: flex;
        align-content: space-between;
        align-items: center;
        .mainLogo{
            margin: 0 35px 0 0 ;
        }
        .menuList ul{  
            display: flex;
            li{
                margin-right: 22px;
            }
            li:not(.bottomList) {
                margin-bottom: 0;
            }
        }
        .addButton {
            position: relative;
            width: 50px;
            height: 46px;
            left: 0;
            bottom: 0;
            margin-left: auto;
            img{
                position: absolute;
                left: 16px;
                top: 13px;
            }
        } 
    }
   .sectionConteiner{
       padding-bottom: 50px;
   }
    main{
        grid-template-columns:63% 37%;
        grid-template-areas: 
        "menu menu"
        "header header"
        "content right"
    ;
    }
}
@media screen and (max-width: 1030px) {
    
    .sectionLeft{
        width: 100%;
        display: grid;
        justify-content: center;
    }
    header h1{
        font-size: 18px;
    }
    .sectionRight{
        max-height: fit-content;  
        padding-top: 46px;
    }
    main{
        grid-template-columns:49% 51%;
        grid-template-areas: 
        "menu menu"
        "header header"
        "content content"
        "left right"
        ;
    }
}

@media screen and (max-width: 750px) {
    .sectionLeft{
        padding-bottom: 50px;
        width: 100%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        > div{
            width: 300px;
        }
        
    }
    .sectionRight{
        height: auto;
        >div{ 
            width: 350px;
            margin: 0 auto;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            .groupPartyMain{
                width: 300px;
                margin: 0 auto;
                padding-bottom: 40px;
                .groupParty{
                    width: 300px;
                }
                .rearbg{
                    width: 260px;
                }
            }
        }
    }
    
    main{
        grid-template-columns:100%;
        grid-template-areas: 
        "menu"
        "header "
        "content"
        "left"
        "right"
    ;
    }
}
@media screen and (max-width: 660px) {
    .sectionConteiner{
        nav ul{
            flex-wrap: wrap;
            justify-content: center;
        }
    }
    header h1{
           font-size: 15px;
    }
    main{
        grid-template-columns: 100%;
       
    }
}

@media screen and (max-width: 520px) {
    header h1{
        font-size: 9px;
    }
}
