.sectionRight{ 
    grid-area: right;
    max-height: 870px;
    background-color: var(--sectionConteinerRight);
    padding:0 50px;
    .recentContacts{
    //width: 319px;
        display: flex;
        justify-content: space-between;
        margin: 18px 0 36px 0;
        p {
            span:first-child{
            @include font(700,18px,#1C1F3E);
            }
            span:last-child{
                @include font(500,14px,#A9B8CD);
            }
        }
        div img:first-child{
            margin-right: 23px;
        }
    }
    .contacktsImg{
        display: flex;
        justify-content: space-between;
        margin-bottom: 34px;
        > div{
            width: 31px;
            height: 31px;
            border-radius: 50%;
            border:1px solid transparent;
            margin-bottom: 10px;
            &:nth-of-type(2){
                background-color: #ffdcdf;
                p{
                    
                    text-align: center;
                }
                a{
                    @include font(600,10px,#FE5260);
                    text-decoration: none;
                    line-height: 31px;
                }
                &:hover{
                    border-radius: 50%;
                    border:1px solid #623ce7;
                }
            }
            &:nth-of-type(3){
               position: relative;
               hr{
                   position: absolute;
                   left: 5px;
                   top: 41px;
                   width: 24px;
                   background-color: #623CE7;
                   border: 1px solid #623CE7;
               }
            }
            &:nth-of-type(6){
                display: flex;
                align-items: center;
                justify-content: center;
                &:hover{
                    border-radius: 50%;
                    border:1px solid #623ce7;
                }
            }
            &  img:not(.contactNextImg){
                width: 31px;
                border:1px solid transparent;
                &:hover{
                    border-radius: 50%;
                    border:1px solid #623ce7;
                }
            }
        }
    }
    .groupPartyMain{
        position: relative;
        margin-bottom: 7px;
        .groupParty{
            // width: clamp(210px, 80%, 319px);
            height: 232px;
            background: #FFFFFF;
            box-shadow: 0px 17px 29px rgba(0, 0, 0, 0.07);
            position: relative;
            z-index: 2;
            border-radius: 10px;
            padding: 14px 28px 0 12px;
            
            p:first-child{
                    user-select: none;
                    margin-bottom: 25px;
                    span:first-child{
                        @include font(700,14px,#A9B8CD);
                    }
                    span:last-child{
                        @include font(700,14px,#1C1F3E);
                    }
                }
            > div {
                display: flex;
                align-items: center;
                position: relative;
                z-index: 3;
                &>img{
                    width: 29px;
                    height: 29px;
                    border-radius: 50%;
                    outline: 1.5px solid #FFFFFF;
                    box-sizing: border-box;
                    cursor: pointer;
                    &:nth-of-type(2){
                        position: relative;
                        right: 9px;
                    }
                    &:nth-of-type(3){
                        position: relative;
                        right: 18px;
                        margin-right: 6px
                    }
                    &:hover{
                        border: 1px solid #623CE7;
                    }
                }
                div:nth-of-type(1){
                    @include font(600, 14px, #623CE7);
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    border-radius: 50%;
                    width: 40px;
                    height: 40px;
                    font-family: var(--fontCash);
                    border: 1px dashed #A9B8CD;
                    box-sizing: border-box;
                    cursor: pointer;
                    &:hover{
                        border: 1px solid #623CE7;
                    }
                }
                div:nth-of-type(2){
                    display: flex;
                    margin-left: auto;
                    position: relative;
                    cursor: pointer;

                    > img:nth-of-type(2){
                        position: absolute;
                        left: 21px;
                        bottom: 18px;
                        width: 7px;
                    }
                   
                }
                
            }
            .dakotaMilk{
                border: 0px;
                padding-top: 35px;
                div:first-child{
                    border: none;
                    width: 61px;
                    height: 61px;
                }
                p{
                    // user-select: none;
                     margin-left: 18px;
                    span:first-child{
                        @include font(700,14px,#1C1F3E);
                    }
                    span:last-child{
                        @include font(600,14px,#A9B8CD);
                        font-family: var(--fontCash);
                    }
                }
            }
        }
        .rearbg{
            position: absolute;
            left: 20px;
            top: 45px;
            // width: clamp(175px,67%,279px);
            // width: clamp(175px, 85%, 330px);
            width: clamp(175px, 89%, 360px);
            height: 202px;      
            background: #FFFFFF;
            box-shadow: 0px 17px 29px rgba(0, 0, 0, 0.07);
            border-radius: 10px;
            z-index: 0;

        }
    }
    .sendMoneyDiv{
        margin: 57px 0 19px;
        >div:nth-child(1){
            margin-bottom: 23px;
            h3{
               @include font (700,18px,#1C1F3E);
               user-select: none;
            }
        }
        
        >div:nth-of-type(2){
            padding: 0 23px;
            // width: 319px;
            height: 58px;
            background: #FFFFFF;
            border: 1px solid #F3F2F2;
            box-sizing: border-box;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
            border-radius: 10px;
            display: flex;
            align-items: center;
            margin-bottom: 19px;
            p{
                @include font(600,14px,#1C1F3E);
                user-select: none;
            }
            >div:nth-child(1){
                margin-right: 23px;
            }
            >:nth-child(3){
                margin-left: auto ;
                span:nth-child(1){
                    @include font(500,14px,#A9B8CD);
                    font-family: var(--fontCash);
                }
                span:nth-child(2){
                   @extend span:nth-child(1);
                   color: #1C1F3E;
                   margin-right: 15px;
                }
            }
        }
        >div:nth-of-type(3){
            margin-bottom: 40px;
            padding: 21px 30px 0 22px;
            // width: 319px;
            height: 105px;
            background: #FFFFFF;
            border: 1px solid #F3F2F2;
            box-sizing: border-box;
            box-shadow: 0px 100px 80px rgba(0, 0, 0, 0.03), 0px 64.8148px 46.8519px rgba(0, 0, 0, 0.0227778), 0px 38.5185px 25.4815px rgba(0, 0, 0, 0.0182222), 0px 20px 13px rgba(0, 0, 0, 0.015), 0px 8.14815px 6.51852px rgba(0, 0, 0, 0.0117778), 0px 1.85185px 3.14815px rgba(0, 0, 0, 0.00722222);
            border-radius: 10px;
            >div:nth-of-type(1){
                display: flex;
                align-items: flex-end;
                margin-bottom: 11px;
                img{
                    border-radius: 50%;
                    margin-right: 8px;
                }
                p{
                    @include font(500,14px,#A9B8CD);
                    user-select: none;
                }
            }
            >div:nth-of-type(2){
                display: flex;
                justify-content: space-between;
                align-items: center;
                span:nth-child(1){
                    @include font(500,26px,#A9B8CD);
                    font-family: var(--fontCash);
                }
                span:nth-child(2){
                   @extend span:nth-child(1);
                   color: #1C1F3E;
                }
            }
        }
        .sendMoneyButton{
            >div:first-child{
                display: flex;
                // width: 319px;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 18px;
                div:first-child{
                    display: flex;
                    align-items: center;
                    img{
                        border-radius: 50%;
                        margin-right: 8px;
                        border: 1px solid transparent;
                        &:hover{
                            border:1px solid #623CE7;
                        }
                    }
                    span{
                        @include font(600,14px,#1C1F3E);
                    }
                }
                div:last-child{
                    width: 21px;
                    height: 21px;
                    background: #8BDAD720;
                    border-radius: 50%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    cursor: pointer;
                    &:hover{
                        border:1px solid #623CE7;
                    }
                }
            }
            >div:last-child button{
                // width: 319px;
                width: 100%;
                height: 59px;
                background: #623CE7;
                box-shadow: 0px 100px 80px rgba(98, 60, 231, 0.07), 0px 64.8148px 46.8519px rgba(98, 60, 231, 0.0531481), 0px 38.5185px 25.4815px rgba(98, 60, 231, 0.0425185), 0px 20px 13px rgba(98, 60, 231, 0.035), 0px 8.14815px 6.51852px rgba(98, 60, 231, 0.0274815), 0px 1.85185px 3.14815px rgba(98, 60, 231, 0.0168519);
                border-radius: 10px;
                @include font(700,14px,#FFFFFF);
                border: 1px solid transparent;
                cursor: pointer;
                &:hover{
                    border: 1px solid white;
                    font-size: 15px;
                }
            }
        }
    }
}