@import "include";
@import "sectionLeft";
@import "sectionRight";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}


main{
    margin: 0 auto;
    width: 100%;
    max-width: 1440px;
    min-width: 470px;
    background-color: rgb(204, 204, 204);
    display: grid;
    grid-template-columns: 108px 317px 600px 415px;
    grid-template-areas: 
    "menu left header header"
    "menu left content right"
;

}
main > section {
    // border: 1px solid seagreen;
    background-color: skyblue;
    height: 990px;
}
.sectionMenu{
    grid-area: menu;
    width: 108px;
    padding-top: 46px;
    border-right: 1px solid #DDDEE2;
    position: relative;
    background-color:  var(--sectionMenuLeft);

    .mainLogo{
        margin: 0 auto 95px;
        width: max-content;
        img{
            &:hover{
                outline:1px solid #623CE7;
                border-radius: 50%;
            }
        }
    }
    ul{
        list-style:none;
        margin: 0 auto;
        width: max-content;
    }
    ul li:not(.bottomList){
        margin-bottom: 40px;
    }
    .addButton{
        position: absolute;
        cursor: pointer;
        left: 23px;
        bottom: 42px;
        width: 70px;
        height: 66px;
        background: #623CE7;
        box-shadow: 0px 15px 20px rgba(98, 60, 231, 0.35);
        border-radius: 0px 15px 15px 15px;
    }
    .addButton {
        img{
            position: absolute;
            left: 25px;
            top: 23px;
            
        }
        &:hover{
            outline:1px solid #a78fff;
            box-shadow: 4px 4px 10px 1px gray;
        }
    }
}

header{
    width: 100%;
    // max-width: 1015px;
    height: 120px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: header;
    padding: 0 50px 0 41px;
    h1{
        cursor: pointer;
        @include font(700,24px,#1C1F3E)
    }
    .headerLeft{
        display: flex;
        align-items: center;
        & > a:first-child img{
            margin-right: 46px;
        }
        div{
            
            width: 147px;
            height: 48px;
            margin-right: 45px;
            background: rgba(98, 60, 231, 0.2);
            border-radius: 10px;
            display: flex;
            justify-content: center;
            align-items: center;
            a{
                @include font(600,12px,#623CE7);
                text-decoration: none;
                
            }
            &:hover{
                    border: 1px solid #623CE7;
                }
            img{
                margin-right: 7px;
            }
        }
    }
}
.sectionConteiner{
    
    grid-area: content;
    width: 600px;
    height: auto;
    // max-height: 870px;
    min-width: 470px;
    padding-left: 31px;
    background-color: var(--sectionConteinerRight);
    nav{
        max-width: 542px;
        margin-bottom: 52px;
    }
    nav ul > div{
        display: flex;
    }
    nav ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
    }
    nav li{
        padding-top: 23px;
        margin-right: 26px;
        text-align: center;
    }
    nav ul li > div{
        width: 109px;
        height: 111px;
        background: #FEFEFF;
        box-shadow: 0px 109.322px 87.4576px rgba(41, 72, 152, 0.05), 
                    0px 70.8569px 51.2194px rgba(41, 72, 152, 0.037963), 
                    0px 42.1092px 27.8569px rgba(41, 72, 152, 0.0303704), 
                    0px 21.8644px 14.2119px rgba(41, 72, 152, 0.025), 
                    0px 8.90772px 7.12618px rgba(41, 72, 152, 0.0196296), 
                    0px 2.02448px 3.44162px rgba(41, 72, 152, 0.012037);
        border-radius: 10.9322px;
        @include font(400,17px, #BCBDC2);
        cursor: pointer;
        &:hover{
            color: black;
            font-size: 18px;
        }
        img{
            margin-bottom: 22px;
        }
    }
    // Total
    .totalsCots {
        display: flex;
        flex-wrap: wrap;
    }
    .totalsCots > div > div{
        @include totals(#e5ecf6,red);
        &:hover {
            > div {
                border: 1px solid #623CE7;
            }
            p span:last-child{
                font-size: 25px;
                color: #623CE7;
             }
        }
        
    }
    // RECENT ACTIVITY
    .recentActivity table {
        margin-top:33px ;
        width: 100%;
        max-width: 515px;
        caption{
            text-align: start;
            @include font(700, 20px, #1C1F3E);
        }
        th > div{
            position: relative;
            width: 100%;
            display: flex;
            justify-content: space-between;
            a:nth-of-type(1){
                @include font(500,16px,#623CE7);
                border-bottom: 3px solid #623CE7;
                text-decoration: none; 
                position: relative;
                z-index: 1;
            }
            a:nth-of-type(2){
                @extend a:nth-of-type(1);
                border-bottom-color: #F7F9FA;
                color: #131313;
                margin-left: 38px; 
                &:hover{
                    color: #623CE7;
                    border-bottom-color: #623CE7;
                }
                
            }
            hr{
                content: none;
                position: absolute;
                top: 22px;
                width: 287px;
                border: none;
                border-bottom: 3px solid #F7F9FA;
            }
            > div{
                display: flex;
                .calendar{
                    position: relative;
                    label{
                        @include font(500,11px,#A1A4AC);
                        position: absolute;
                        z-index: 5;
                        top: 8px;
                        left: 30px;
                    }
                    input{
                        position: relative;
                        padding: 0 12px;
                        margin-right: 6px;
                        width: 140px;
                        height: 30px;
                        background-color: #F7F7F9;
                        border: none;
                        outline: none;
                        border-radius: 8px;
                        &::-webkit-datetime-edit-text{
                            user-select: none;
                        }
                        &::-webkit-calendar-picker-indicator{
                            position: absolute;
                            right: 112px;
                            opacity: 0;
                        }  
                        &::-webkit-datetime-edit-month-field { visibility: hidden; }
                        &::-webkit-datetime-edit-day-field {visibility: hidden;}
                        &::-webkit-datetime-edit-year-field { visibility: hidden; }
                        &::-webkit-datetime-edit-text {visibility: hidden; }
                        &::before{
                                content: " ";
                                background-image: url("../img/section content/calendar.png");
                                background-size: contain ;
                                display: block;
                                background-repeat: no-repeat;
                                width: 24px;
                                height: 12px;
                                cursor: pointer;
                                &:hover{
                                    width: 24px;
                                    height: 12px;
                                    border: 1px solid black;
                                }
                            }
                       
                       
                    }
                    // Minch input dnelu kod@
                    // display: flex;
                    // justify-content: center;
                    // align-items: center;
                    // margin-right: 6px;
                    // width: 140px;
                    // height: 30px;
                    // background-color: #F7F7F9;
                    // border-radius: 8px;
                    // img{
                    //     width: 12px;
                    //     height: 13px;
                    //     margin-right: 8px;
                    // }
                    // p{
                    //     @include font(500,11px,#A1A4AC);
                    // }
                }
                .settingsActivity{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 31px;
                    height: 31px;
                    background: #F7F7F9;
                    border-radius: 7.63879px;
                    cursor: pointer;
                    &:hover{
                        border:1px solid #623CE7;
                    }
                }
                .addActivity{
                    @extend .settingsActivity;
                    background-color: #623CE7;
                    margin-left: 6px; 
                    cursor: pointer;
                    &:hover{
                        border:1px solid white;
                    }
                }
            }
        }
        .dateHistory {
            height: 55px;
            td{
                @include font(500,12px,#A1A4AC);
               
            }
        }
        @mixin recentActivityLong($bgc,$color) {
            td:nth-of-type(1) {
                img{
                    margin-right: 19px;
                }
                span:nth-of-type(1){
                    @include font(700,15px,#000000);
                }
                span:nth-of-type(2){
                    @include font(700,11px,#A1A4AC);
                }
            }
            td > div{
                display: flex;
                justify-content: start;    
                align-items: center;
            }
            td:nth-of-type(2) div {
                div{
                    width: 18px;
                    height: 18px;
                    margin-right: 12px;
                    background-color: $bgc;
                    border-radius: 4px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    &:hover{
                        border:1px solid #623CE7;
                    }
                }
                p{
                    @include font(600,11px,#313131);
                }
            }
            td:nth-of-type(3) div{
                div{
                    width: 29px;
                    height: 29px;
                    margin-right: 32px;
                    background: #F7F7F9;
                    border-radius: 6px;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
                p{
                    @include font(700,9px,$color);
                    font-family: var(--fontCash);
                    span{
                        font-family: var(--fontCash);
                        font-size: 6px;
                    }
                }
            
            }
        }
        .longActivity:nth-of-type(2) {
           @include recentActivityLong(#FEF5F4,#313131);
           
        }
        .longActivity:nth-child(4) {
            @include recentActivityLong(#F0FAF5,#623CE7);
            height: 54px;
         }
         .longActivity:nth-of-type(5) {
            @include recentActivityLong(#FBF4FE,#313131);
            height: 54px;
         }
         .longActivity:nth-of-type(6) {
            @include recentActivityLong(#F0FAF5,#313131);
            td:nth-of-type(3) > div > div{
                visibility: hidden;
            }
            height: 54px;
        }
    }
}
// Media
@import "media";