body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menu{
    height: 70px;
    display: flex;
    padding: 0 2%;
    background-color: #16c1eb;
    align-items: center;
}
.menu ul{
    display: flex;
}
.menu li{
    display: flex;
    
}
.menu a {
    display: flex;
    width: 150px;
    height: 70px;
    font-size: 25px;
    background-color: #288298;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    color: black;
    color: white;
}
.menu a:hover{
    background-color: #55a8bc;
    font-size: 27px;
}


iframe{
    width: calc(100% - 10px);
    height: calc(100vh - 80px);
}