body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    height: calc(100vh - 106px);
}
main{
    width: 100%;
    // max-width: 1440px;
    height: 100%;
    margin: 0 auto;
    padding: 5% 0;
    position: relative;
    background-image: url('../img/photo/1.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    background-repeat: round;
}
.content{
    margin: 0 auto;
    max-width: 420px;
    position: relative;
    background-color: #228fb6b5;
    border-radius: 50px;
    padding: 40px 0;
    // Help icon
    #rules{
        img{
            position: absolute;
            cursor: help;
            right: 5%;
            top: 4%;
            width: clamp(26px, 55%, 50px);
        }
        img:hover{
            border-radius: 50px;
            box-shadow: 0 0 20px 17px rgba(130, 157, 202, 0.65);    
        }
    }
    // Dialog window
    #closeQue img {    
        top: 5px;
        left: 530px;
        width: 40px;
    }
    dialog {
            max-width: 1000px;
            height: 700px;
            background: rgba(255, 255, 255, 0.7);
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
            border-radius: 25px;
            padding: 10px 30px 10px 30px;
            font-size: clamp(12px, 78%, 35px);
        p{
            margin: 0px;
            text-indent: 31px;
            padding: 0px;
            text-align: justify;
        }
        span{
            font-size: 35px;
            font-style: normal;
            margin: 0px;
            font-variant: all-petite-caps;
        }
        &::backdrop {
            background-color: rgba(0, 0, 0, 0.8);
        }
        i{
            position: absolute;
            right: 5%;
            top: 3%;
            cursor: pointer;
            img:hover{
                border-radius: 50px;
                box-shadow: 0 0 20px 17px rgba(130, 157, 202, 0.65);    
            }
        }
    }
    //content
    .logoAlias{
        // display: none;
        width: 100%;
        padding-bottom: 10%;

        img{    
            display: block;
            margin: 0 auto;
            margin: 0 auto;
            width: clamp(50px, 50%, 250px)
        }
    }
    .contentChild{
        margin: 0 auto;
        width: 80%;
        background-color: #f0f8ff91;
        border-radius: 50px;
    }
    .formAlias{
        // display: none;
        form{
            width: 60%;
            padding: 50px 0;
            max-width: max-content;
            display: block;
            margin: 0 auto;
            div{
                width: 100%;
                input:not([type="submit"]){
                    margin-bottom: 30px;
                    width: 100%;
                    height: 40px;
                    outline: none;

                }
                &:nth-last-child(1) input{
                    width: 70%;
                    height: 50px;
                }
            }
            #submit input{
                display: block;
                margin: 0 auto;
            }
        }
    }
}
.startBtnParent{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    padding: 160px 0;
    #startBtn{
        width: max-content;
        padding: 0 20px ;
        height: 60px;
    }
}
#clickStart{
    display: none;

}
//Play zone
#playZone{
    display: none;
    .teamNP{
        margin: 8% auto  0;
        display: flex;   
        justify-content:space-around;
        border-bottom: 1px solid black;
        >div:nth-child(2){
            width: 0;
            padding: 0;
            border-left: 1px solid black;
        }
        >div{
            margin-top: 5px;
            padding: 15px; 
            text-align: center;  
        }
    }
    h3{
        text-align: center;
    }
    #words{
        padding: 0 0 8%  ;
        margin: 0 auto;
        width: max-content;
        font-size: 28px;
        label, input{
            cursor: pointer;
        }
        input{
            width: 25px;
            height: 25px;
        }
    }
    #timer{
        text-align: center;
        font-size: 50px;
        padding-bottom: 10px;
    }
}


@media screen and (max-width: 320px) {
    main{
        padding: 0;

    }
    .content{
        border-radius: 0;
        background-color: transparent;
        #rules img{
            top: 1% !important;
        } 
    .contentChild{
            width: 100% !important;
            border-radius: 0px !important; 
            background-color: #f0f8ff57 !important;
        }
    }
    .formAlias{
        // display: none;
        form{
            // width: 60%;
            // padding: 50px 0;
            // max-width: max-content;
            // display: block;
            // margin: 0 auto;
            div{
                input:not([type="submit"]){
                    height: 20px !important; 
                }
                &:nth-last-child(1) input{
                    height: 35px !important;
                }
            }
            #submit input{
                display: block;
                margin: 0 auto;
            }
        }
    }
}
